@import "tailwindcss";

:root {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /*color-scheme: light dark;*/
    color: black;
    /*background-color: #242424;*/

    /*font-synthesis: none;*/
    /*text-rendering: optimizeLegibility;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BebasNeue-Regular.ttf');
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    /*margin: 0;*/
    /*display: flex;*/
    /*place-items: center;*/
    /*min-width: 320px;*/
    /*min-height: 100vh;*/
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.logo-font {
    font-family: 'Bebas Neue', sans-serif;
}

button {
    /*border-radius: 8px;*/
    /*border: 1px solid transparent;*/
    /*padding: 0.6em 1.2em;*/
    /*font-size: 1em;*/
    /*font-weight: 500;*/
    /*font-family: inherit;*/
    /*background-color: #1a1a1a;*/
    cursor: pointer;
    /*transition: border-color 0.25s;*/
}


/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

@theme {
    --color-primary-100: #FFFFFF ;
    --color-primary-200: #25ced1;
    --color-primary-300: #fceade;
    --color-primary-400: #ff8a5b;
    --color-primary-500: #ea526f;
    --color-secondary-100: #DCE0E5;
    --color-secondary-200: #fff18b;
    --color-secondary-300: #c0faee;
    --color-secondary-400: #78f4ec;
    --color-secondary-500: #d3abe9;
    --color-secondary-600: #ef99e2;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

input{
    padding: 0.2em 0.5em;
}

.ql-container {
    font-family: 'Grotesk', sans-serif;
    max-height: 10rem;
    /*border: black 1px solid;*/
    border-radius: 0 0 0.375rem 0.375rem;
    overflow-y: auto;
}

.quill {
    border: var(--color-primary-100) 1px solid;
    border-radius: 0 0.375rem 0.375rem 0;
}

.ql-editor {
    min-height: 10rem;
    height: 9rem;
    background: white;
}

.ql-toolbar {
    background-color: #f8f9fa;
    border-radius: 0.375rem 0.375rem 0 0;
}

